<a href="https://colab.research.google.com/github/denisbrunom/data_science_estudo/blob/master/spotify.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Uma breve introdução sobre o pandas

*O [pandas](https://pandas.pydata.org/) é uma ferramenta rápida, poderosa, flexível e fácil de usar para análise e manipulação de dados de código aberto construído sobre a linguagem de programação Python.*

  Vamos conhecer um pouco mais sobre essa biblioteca que é a mais utilizada na exploração de um dataframe.
  Vamos utilizar o dataset mais tocadas em maio de 2020 por paises disponivel no Kangle [aqui](https://www.kaggle.com/hkapoor/spotify-top-songs-by-country-may-2020).

Primeiro passo é a importação da nossa biblioteca: `import pandas as pd` urilizamos a palavra reservada `as` para criar um apelido que utilizaremos para chamarmos nossa biblioteca.

In [0]:
import pandas as pd

Com a biblioteca já importada, abriremos nosso dataset, eu o importei dentro do meu drive e utilizei o caminho de lá.
Passei o comando `pd.read_csv`.

In [2]:
df=pd.read_csv('/content/drive/My Drive/Colab Notebooks/Treino_pessoal/Spotify-May2020.csv')
df

      Unnamed: 0  Country  ...  Explicit Duration
0              0   Global  ...         0     3:02
1              1   Global  ...         0     3:20
2              2   Global  ...         1     3:01
3              3   Global  ...         1     2:56
4              4   Global  ...         1     4:07
...          ...      ...  ...       ...      ...
3145        3145  Vietnam  ...         0     4:20
3146        3146  Vietnam  ...         0     3:18
3147        3147  Vietnam  ...         0     3:52
3148        3148  Vietnam  ...         0     3:40
3149        3149  Vietnam  ...         0     3:20

[3150 rows x 8 columns]

Dataframe importado, vamos começar a explorar as opções do pandas

In [3]:
df["Country"]

0        Global
1        Global
2        Global
3        Global
4        Global
         ...
3145    Vietnam
3146    Vietnam
3147    Vietnam
3148    Vietnam
3149    Vietnam
Name: Country, Length: 3150, dtype: object

In [4]:

df.head()

   Unnamed: 0 Country  Rank  ...                            Album Explicit Duration
0           0  Global     1  ...  Rain On Me (with Ariana Grande)        0     3:02
1           1  Global     2  ...                      After Hours        0     3:20
2           2  Global     3  ...                 BLAME IT ON BABY        1     3:01
3           3  Global     4  ...            Roses (Imanbek Remix)        1     2:56
4           4  Global     5  ...             Dark Lane Demo Tapes        1     4:07

[5 rows x 8 columns]

In [5]:
df.columns

Index(['Unnamed: 0', 'Country', 'Rank', 'Title', 'Artists', 'Album',
       'Explicit', 'Duration'],
      dtype='object')

In [6]:
df.values

array([[0, 'Global', 1, ..., 'Rain On Me (with Ariana Grande)', 0,
        '3:02'],
       [1, 'Global', 2, ..., 'After Hours', 0, '3:20'],
       [2, 'Global', 3, ..., 'BLAME IT ON BABY', 1, '3:01'],
       ...,
       [3147, 'Vietnam', 48, ..., 'Ngày Tận Thế', 0, '3:52'],
       [3148, 'Vietnam', 49, ..., 'Đi Đu Đưa Đi', 0, '3:40'],
       [3149, 'Vietnam', 50, ..., 'After Hours', 0, '3:20']], dtype=object)

In [7]:
df.loc[[100,200,300,400]]

     Unnamed: 0    Country  ...  Explicit Duration
100         100  Australia  ...         1     3:01
200         200    Belgium  ...         0     3:20
300         300     Brazil  ...         0     3:57
400         400     Canada  ...         1     3:01

[4 rows x 8 columns]

In [8]:
df.head()

   Unnamed: 0 Country  Rank  ...                            Album Explicit Duration
0           0  Global     1  ...  Rain On Me (with Ariana Grande)        0     3:02
1           1  Global     2  ...                      After Hours        0     3:20
2           2  Global     3  ...                 BLAME IT ON BABY        1     3:01
3           3  Global     4  ...            Roses (Imanbek Remix)        1     2:56
4           4  Global     5  ...             Dark Lane Demo Tapes        1     4:07

[5 rows x 8 columns]

In [9]:
pais_ = df.groupby('Country').sum()
pais_.head()

           Unnamed: 0  Rank  Explicit
Country
Argentina        3725  1275        14
Australia        6225  1275        21
Austria          8725  1275        17
Belgium         11225  1275        17
Bolivia         13725  1275        13